<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfDuplexChat.ChatService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12000/"/>
          </baseAddresses>
        </host>
        <endpoint address="ChatServer" binding="wsDualHttpBinding" contract="Contract.IChatService">
          
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          
        </endpoint> 
      </service>      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>